<!DOCTYPE html>
<html>
<head th:replace="~{pagModelo :: head('Sobre')}">
<meta charset="UTF-8">
</head>
<body>
<div>
	<navbar th:insert="~{pagModelo :: navbar('Sobre')}"></navbar>
	<div class="container" id="sobre">
		<h1 align="center">	Desenvolvimento de Aplicações Coorporativas</h1>
		<h2 align="justify">Este projeto está em processo de desenvolvimento para disciplina de DAC
			tendo em vista fazer o gerenciamento básico de um aloja de livros.
			O projeto atualmento esta em processo de desenvolvimento pelos 
			alunos, José Caio, Evandson Borges e Mateus, tendo como principal 
			orientador o professor João Paulo.
		</h2>
	</div>
</div>

</body>
</html>
