<!DOCTYPE html>
<html lang="pt-br">
<head>
<!-- Meta tags Obrigatórias -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<title>Loja de Livros</title>
</head>
<body>

	<!-- JavaScript (Opcional) -->
	<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/autor/inicio">Livraria</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#siteDac">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="siteDac">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"></li>
						<a class="nav-link" href="/autor/inicio"> Inicio</a>
						<li class="nav-item"></li>
						<a class="nav-link" href="#"> Sobre </a>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="dropdownlivros"
							data-toggle="dropdown"> Autor</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/autor/getAutores">Todos os
									Autores</a> <a class="dropdown-item" href="/autor/cadastrarAutor">Novo</a>
							</div></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="dropdownlivros"
							data-toggle="dropdown"> Livros</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/livro/getLivros">Todos</a> <a
									class="dropdown-item" href="/livro/createLivro">Novo</a> <a
									class="dropdown-item" href="#">Romance</a> <a
									class="dropdown-item" href="#">Drama</a> <a
									class="dropdown-item" href="#">Ficção Científica</a> <a
									class="dropdown-item" href="#">Humor</a> <a
									class="dropdown-item" href="#">Conto</a> <a
									class="dropdown-item" href="#">Infantíl</a>
							</div></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="/cliente/getClientes"
							id="dropdownlivros" data-toggle="dropdown"> Clientes</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/cliente/getClientes">Todos
									os Clientes</a> <a class="dropdown-item" href="/cliente/newCliente">Novo</a>
					</ul>


				</div>
			</div>
		</nav>
		<hr class=""></hr>
		<div class="container">
			<div id="carouselExampleCaptions" class="carousel slide"
				data-mdb-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-mdb-target="#carouselExampleCaptions"
						data-mdb-slide-to="0" class="active" aria-current="true"
						aria-label="Slide 1"></button>
					<button type="button" data-mdb-target="#carouselExampleCaptions"
						data-mdb-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-mdb-target="#carouselExampleCaptions"
						data-mdb-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="https://mdbootstrap.com/img/new/slides/042.jpg"
							class="d-block w-100" alt="Primeiro Slide" />
						<div class="carousel-caption d-none d-md-block">
							<h5>Primeiro Slide</h5>
							<p>Apresentação Primeiro Slide.</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="https://mdbootstrap.com/img/new/slides/042.jpg"
							class="d-block w-100" alt="Segundo Slide" />
						<div class="carousel-caption d-none d-md-block">
							<h5>Segundo Slide</h5>
							<p>Apresentação Segundo Slide.</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="https://mdbootstrap.com/img/new/slides/043.jpg"
							class="d-block w-100" alt="Terceiro Slide" />
						<div class="carousel-caption d-none d-md-block">
							<h5>Terceiro Slide</h5>
							<p>Apresentação Terceiro Slide.</p>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button"
					data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Anterior</span>
				</button>
				<button class="carousel-control-next" type="button"
					data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Proximo</span>
				</button>
			</div>
		</div>
	</div>
	</div>
	<h3></h3>
	<div class="container">
		<div class="card border-primary mb-3" style="max-width: 250rem;">
			<h5 class="card-header">Destaque</h5>
			<div class="card-body">
				<h5 class="card-title">Livros Mais Baratos</h5>
				<p class="card-text">Consulte nossos livros mais barato em
					estoque.</p>
				<a href="/livro/getLivrosMaisBaratos"
					class="btn btn-outline-primary">Visitar</a>
			</div>
		</div>
	</div>
	</div>
</body>
</html>