<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{pagModelo :: head('Pagina Inicial')}">
<meta charset="UTF-8">
	<script src="/js/excluir.js"></script>
</head>
<body>
	<navbar th:insert="~{pagModelo :: navbar('Lista de Livros')}"></navbar>


	<!-- aqui começa a lista -->
	<h3></h3>
	<!-- espaçamento antes da lista-->
	<div class="container" style="margin-left: auto;">
		<table class="table table-sm table-striped table-bordered">
			<thead class="thead-dark">
				<tr align="center">
					<th>Id</th>
					<th>Disponíveis</th>
					<th>Título</th>
					<th style="min-width: 100px;">Valor</th>
					<th>Autor</th>
					<th>Editora</th>
					<th>Categoria</th>
					<th>Ações</th>

				</tr>
			</thead>

			<tbody align="center">
				<tr th:each="livro : ${livros}">
					<td><span th:text="${livro.id}"></span></td>
					<td><span th:text="${livro.qtdEstoque}"></span></td>
					<td><span th:text="${livro.titulo}"></span></td>
					<td>R$ <span th:text="${livro.preco}"></span></td>
					<td><span th:text="${livro.autor.nome}"></span></td>
					<td><span th:text="${livro.editora.nome}"></span></td>
					<td><span th:text="${livro.categoria}"></span></td>
					<td style="min-width: 350px;" class="actions" align="center">
						<a class="btn btn-info btn-xs" th:href="@{/livro/buscar{id} (id=${livro.id})}" data-toggle="modal"
							data-target="#modalDetalhesLivro">Detalhes</a>
						<a class="btn btn-primary btn-xs" style="margin-left: 10px; margin-right: 10px"
							th:href="@{/admin/editarLivro/{id}(id=${livro.id})}">Editar</a>
						<a class="btn btn-danger btn-xs" style="margin-left: 10px; margin-right: 10px" 
							th:href="@{/livro/excluir/{id}(id=${livro.id})}">Excluir</a>
						
					</td>
				</tr>

			</tbody>

		</table>
		
		<!-- botoes de pagina -->
		<nav aria-label="Page navigation example">
	  			<ul class="pagination justify-content-center">
	    			<li class="page-item">
	      				<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
	    			</li>
	    			<li href="#" th:each="i : ${#numbers.sequence(0,livros.totalPages-1)}">
					    <li class="page-item"><a class="page-link" href="#" text="${i}">1</a></li>
					    <li class="page-item"><a class="page-link" href="#" text="${i}">2</a></li>
					    <li class="page-item"><a class="page-link" href="#" text="${i}">3</a></li>
					</li>
	     					<a class="page-link" href="#" tabindex="+1">Next</a>
	   				</li>
	  			</ul>
			</nav>
		
	<div class="modal fade" id="modalDetalhesLivro" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document" >
					<div class="modal-content" >
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Detalhes do livro: </h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div align="center">
								<table class="table table-sm table-striped table-bordered">
									<thead class="thead-dark">
										<tr align="center">
											<th>Disponíveis</th>
											<th>Título</th>
											<th style="min-width: 100px;">Valor</th>
											<th>Autor</th>
											<th>Editora</th>
											<th>Categoria</th>
										</tr>
									</thead>
						<!-- 
									<tbody align="center">
										<tr th:object="${}">
											<td><span th:text="${livro.qtdEstoque}"></span></td>
											<td><span th:text="${livro.titulo}"></span></td>
											<td>R$ <span th:text="${livro.preco}"></span></td>
											<td><span th:text="${livro.autor.nome}"></span></td>
											<td><span th:text="${livro.editora.nome}"></span></td>
											<td><span th:text="${livro.categoria}"></span></td>
										</tr>
						 -->
						
									</tbody>
						
								</table>
	
							</div>
						</div>
						<div class="modal-footer">
						<!-- 
								<a class="btn btn-primary btn-xs" style="margin-left: 10px; margin-right: 10px" 
									th:href="@{/carrinhoDeCompras/addAoCarrinho/{id}(id=${livro.id})}">Add ao carrinho</a>
						 -->
								<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
						</div>
					</div>
			</div>
		</div>
		
		
	</div>
</body>


</html>